<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form th:action="@{Article/insert}" method="post" th:object="${articleForm}">

        <div th:errors="*{name}" style="color:red">エラー</div>
        投稿者名：<input type="text" name="name" th:field="*{name}"> <br>
        <br>
        <div th:errors="*{content}" style="color:red">エラー</div>
        投稿内容：<textarea name="content" cols="25" rows="5" th:field="*{content}"> </textarea>
        <br>
        <button>記事投稿</button>
    </form>

    <hr>

    <div th:each="article:${application.articleList}"> <br>
        投稿者名：<span th:text="${article.name}"> </span>
        <br>
        投稿内容：<span th:text="${article.content}"> </span>
        
        <br>
        <br>

        <form th:action="@{Article/delete}" method="post">
            <input type="hidden" name="id" th:value="${article.id}">
            <input type="hidden" name="articleId" th:value="${article.id}">
            <button>記事削除</button>
        </form>

        <br>

        <div th:each="comment:${article.commentList}"> <br>
            コメント者名：<span th:text="${comment.name}"> </span>
            <br>
            コメント内容：<span th:text="${comment.content}"> </span>
            
        <br>
        </div>
        <br>

        <form th:action="@{Article/insertcomment}" method="post" th:object="${commentForm}" >

            <div th:errors="*{name}" name="name" style="color:red" th:if="*{articleId} == ${article.id}">エラー</div>
            名前：<input type="text" name="name" th:field="*{name}">
             <br>
            <div th:errors="*{content}" name="content" style="color:red" th:if="*{articleId} == ${article.id}">エラー</div>
            コメント：<textarea name="content" cols="25" rows="5" th:field="*{content}"> </textarea>
            <br>
            <input type="hidden" name="articleId" th:value="${article.id}">
            <button>コメント投稿</button>
        </form>

        <hr>
    </div>
    


</body>

</html>